body .shell-top {
    background-image: url(../image/index.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    transition: .2s;
    overflow: hidden;
    /* scroll-snap-align: start; */
    /* z-index: -1; */
}

body .shell-main {
    width: 100%;
    height: auto;
    top: 100vh;
    position: relative;
    transition: .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    scroll-snap-align: start;
    background-color: #FBFAF5;
}


body .shell-main-nav {
    height: 60px;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 18vh; */
    backdrop-filter: blur(13px);
}

body .shell-main-nav .logo {
    height: 100%;
    width: 250px;
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
}

body .shell-main-nav .logo img {
    height: 100%;
    width: 70px;
    /* border-radius: 50%; */
}

body .shell-main-nav .logo span {
    /* font: 100 22px 'font'; */
    position: relative;
    letter-spacing: 2px;
    left: 5%;
}

body .shell-main-nav ul {
    width: 600px;
    height: 100%;
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
}

body .shell-main-nav ul li {
    width: 150px;
    text-align: center;
}

body .shell-main-nav ul li a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    border-bottom: 3px solid transparent;
}

body .shell-main-nav ul .nav-box {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 115px;
    height: 5px;
    border-radius: 2px;
    z-index: -999;
    transition: .5s;
}

/* body .shell-main-nav ul li a:hover {
    border-bottom: 3px solid #007f61;
    transition: 0.2s all linear;
    transition-delay: 0.1s;
} */

body .shell-main-nav ul li:nth-child(2):hover~.nav-box {
    left: 120px;
    background-color: #007f61;
}

body .shell-main-nav ul li:nth-child(3):hover~.nav-box {
    left: 240px;
    background-color: #007f61
}

body .shell-main-nav ul li:nth-child(4):hover~.nav-box {
    left: 360px;
    background-color: #007f61
}

body .shell-main-nav ul li:nth-child(5):hover~.nav-box {
    left: 480px;
    background-color: #007f61
}

.cart-count {
    background-color: #007f61;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 5px;
}

body .shell-main-a {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #FBFAF5;
    overflow: hidden;
}

body .shell-main-a .images {
    height: 100%;
    width: 300%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

body .shell-main-a .images .img {
    width: 80%;
    height: 690px;
    background-size: cover;
}

.img:nth-child(1) {
    background-image: url("../image/yx.png");
}

.img:nth-child(2) {
    background-image: url("../image/bb.png");
}

.img:nth-child(3) {
    background-image: url("../image/yz.png");
}

body .shell-main-a .button {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

body .shell-main-a .left,
.right {
    /* font-style: 50px; */
    /* background-color: rgb(255, 255, 255); */
    opacity: 0.2;
    padding: 0 20px;
    line-height: 650px;
    cursor: pointer;
}

body .shell-main-a .min-images {
    display: flex;
    /* justify-content: space-evenly; */
    position: absolute;
    bottom: 370px;
    /* width: 400px; */
    height: 800px;
    /* z-index: 999; */
    left: 85.5%;
    flex-flow: column;
}

body .shell-main-a .min {
    width: 180px;
    height: 153px;
    margin-top: 29%;
    /* background-color: #007f61; */
    border: 3px solid #007f61;
    cursor: pointer;
    background-size: contain;
    transition: 0.2s all linear;
    transition-delay: 0.1s;

}

.min:nth-child(1) {
    background-image: url("../image/缩略图a.png");
}

.min:nth-child(2) {
    background-image: url("../image/缩略图b.png");
}

.min:nth-child(3) {
    background-image: url("../image/缩略图c.png");
}

body .shell-main-a .min:hover {
    opacity: 0.6;
}

.so-min {
    opacity: 0.6;
}

body .shell-main-b {
    width: 100%;
    height: 700px;
    /* display: flex; */
    justify-content: center;
    /* margin-bottom: 100px; */
    overflow: hidden;
    align-items: center;
    position: relative;
    margin-top: -30%;
    background-color: #FBFAF5;
}

body .shell-main-b .recommend {
    width: 100%;
    height: 100%;
}

body .shell-main-b .recom-label {
    width: 270px;
    height: 70px;
    font-size: 28px;
    /* text-align: center; */
    border-radius: 0px 25px 25px 0px;
    line-height: 70px;
    color: white;
    background-color: #007f61;
}

body .shell-main-b .teas {
    margin-top: 50px;
    height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

body .shell-main-b .teas .bg-tea {
    position: relative;
    margin-left: 20px;
    margin-top: 7%;
    width: 230px;
    height: 280px;
    border-radius: 10%;
    /* background-size: cover; */
    background-color: #B0B85D;
    box-shadow: 0 0 15px rgba(95, 95, 95, 0.3);
    transition: all 0.3s linear;

}

body .shell-main-b .tea1 {
    width: 320px;
    height: 350px;
    position: absolute;
    /* top: 70px; */
    bottom: 70px;
    left: -65%;
    z-index: 10;
}

body .shell-main-b .tea2 {
    width: 320px;
    height: 350px;
    position: absolute;
    /* top: 70px; */
    bottom: 70px;
    left: -65%;
    z-index: 10;
}

body .shell-main-b .tea3 {
    width: 320px;
    height: 350px;
    position: absolute;
    /* top: 70px; */
    bottom: 70px;
    left: -65%;
    z-index: 10;
}

.tea1:nth-child(1) {
    background-image: url("../image/蜜柚红茶c.png");
}

.tea2:nth-child(1) {
    background-image: url("../image/葡萄柚绿b.png");
}

.tea3:nth-child(1) {
    background-image: url("../image/芒果养乐多b.png");
}

body .shell-main-b .word {
    top: 70%;
    text-align: center;
    position: relative;
    font-size: 25px;
    color: #FBFAF5;
}

body .shell-main-b .teas .bg-tea:hover {
    /* margin-top: 6%; */
    transform: scale(0.95);
    cursor: pointer;
}

.hot-label {
    width: 300px;
    height: 70px;
    font-size: 28px;
    /* text-align: center; */
    border-radius: 0px 25px 25px 0px;
    line-height: 70px;
    color: white;
    position: relative;
    left: -39.5%;
    background-color: #007f61;
}

article {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    margin-top: 50px;
}

.Skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.Skills li {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    height: 50px;
    cursor: pointer;
}

.Skills li span,
.Skills li p {
    text-align: center;
    font-size: 20px;
    display: block;
    width: 50%;
    transition: .2s;
    letter-spacing: 0px;
}

.Skills li p {
    /* color: #22A39F; */
    color: #007f61;
}

.Skills li:hover p {
    letter-spacing: 5px;
}

.section-bottom {
    position: relative;
}